/*
config
================================
This file contains all the variables that can be used 

* Gridsystem  
* breakpoints
* colors
* fonts

*/

/* 
grid setup
----------------------------------------------------------------
build on singualritygs
*/
$grids: 4;
$grids: add-grid(8 at 601px);
$grids: add-grid(12 at 768px);
$gutters: 1/3;

//toggle g key for grid testing
$background-grid-color:teal;
@include grid-toggle;


/*
breakpoints
--------------------------------------------------------------------------------
Sets the default breakpoints for us in the build of the layout file.

Documentation can be found at 
* http://breakpoint-sass.com 
* https://github.com/team-sass/breakpoint

*/

$small: (max-width 600px);
$medium:(min-width 601px) (max-width 767px);
$medium-up:(min-width 601px);
$medium-down:(max-width 767px);
$large: (min-width 768px); 
$xlarge:(min-width 992px);

/*  
$mobile: (max-width 480px);
  $mobile-portrait: (max-width 480px) (orientation portrait);
  $mobile-landscape: (max-width 767px) (orientation landscape);
$mobile-retina: (max-width 480px) (-webkit-min-device-pixel-ratio 2);
  $mobile-retina-portrait: (max-width 480px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
  $mobile-retina-landscape: (max-width 480px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);
$mobile-up:(min-width 768px); //huh rename

$tablet: (min-width 768px) (max-width 1024px);
  $tablet-portrait: (min-width 768px) (max-width 1024px)  (orientation portrait);
  $tablet-landscape: (min-width 768px) (max-width 1024px) (orientation landscape);

usage: 
 
body{
  @include breakpoint($mobile) {background: gray}
  @include breakpoint($mobile-portrait) {background: blue}
  @include breakpoint($mobile-landscape) {background: teal}
  @include breakpoint($mobile-retina) {background: red}
  @include breakpoint($mobile-retina-portrait) {background: pink}
  @include breakpoint($mobile-retina-landscape) {background: gold}
  @include breakpoint($tablet) {background: maroon}
  // @include breakpoint($tablet-landscape) {background: coral}
  // @include breakpoint($tablet-portrait) {background: orange}
  @include breakpoint($desktop) {background: lightgray}
  @include breakpoint($desktop-huge) {background: white}
}
*/



/* 
colors
----------------------------------------------------------------

set up first with "logical" names for easier reference
*/


$red:   #E05048;
$green: #4EB25C;
$blue:  #0088CC;
$blue-50: lighten($blue, 50%);
$purple:#734BA9;
$yellow: yellow;

$black: #121214;
$black-10: lighten($black, 10%);
$black-20: lighten($black, 20%);
$black-30: lighten($black, 30%);
$black-40: lighten($black, 40%);
$black-50: lighten($black, 50%);
$black-60: lighten($black, 60%);
$black-70: lighten($black, 70%);
$black-80: lighten($black, 80%);
$black-90: lighten($black, 90%);

$white: #fff;

$gray: #777;

// sitespecific colors
$graylight : #f9f9f9;
$graylight2: #ededed; 
$graylight3: #DFDFDF;
$graylight4: #ECECEC;


$bgcolor       : $white;
$fontcolor     : $gray;
$titlecolor    : $black;
$linkcolor     : $blue;
$linkcolorhover: lighten($linkcolor, 20%);

$selectioncolor: #333;
$selectioncolor-bg: lighten($linkcolor, 10%);

