/*
Layout
=========

Layout
=========
the basic design of the page

The grids settings are created in _config.scsss
*/



/*
Container
===========

    <div class="l-container">
    </div>
 */

.l-container{ }


/*
Header
--------------------------------------
templates:  
  
    <header role="banner">
        <a href="/" class="logo"><h2> sitename </h2></a>
    </header>
 */

header[role="banner"]{
  margin:0 auto;
  @extend %cf;
  
  @include breakpoint($mobile) {width: 100%}
  @include breakpoint($tablet) {width: 90%}
  @include breakpoint($desktop){width: 1200px} 

  #logo{ //@todo: logo needs to be a class ... were not barbarians
    @include breakpoint($mobile) {@include grid-span(4,1,4);}
    @include breakpoint($tablet) {@include grid-span(4,1,8);}
    @include breakpoint($desktop){@include grid-span(4,1,12);} 
  }
  nav.mainmenu{
    @include breakpoint($mobile) {@include grid-span(4,1,4);}
    @include breakpoint($tablet) {@include grid-span(2,5,8);}
    @include breakpoint($desktop){@include grid-span(4,5,12);} 
  }
  nav.usermenu{
    @include breakpoint($mobile) {@include grid-span(4,1,4);}
    @include breakpoint($tablet) {@include grid-span(2,7,8);}
    @include breakpoint($desktop){@include grid-span(2,9,12);} 
  }
}

main{
  margin:0 auto;
  @include breakpoint($mobile) {width: 100%}
  @include breakpoint($tablet) {width: 90%}
  @include breakpoint($desktop){width: 1200px} 
}  

footer[role="contentinfo"]{
  width:100%
}


/*
Main
--------------------------------------------
    
    <main>
      <div> lorem ipsum ...</div>
    </main>
 */
main{  }


/*
Footer
------------------------------

    <footer role="contentinfo">
      <div>
        <span>Powered by <a href="http://drupal.org">Drupal</a></span>
      </div>
    </footer>
*/
footer[role="contentinfo"]{
  width:100%;
  margin:0 auto;
}






/*
all together now:
------------------------


    <div class="l-container">
      <header role="banner">
      </header>
    
      <main>
        <h1> Main content
      </main>
    
      <footer role="contentinfo">
        <div>
          <span>Powered by <a href="http://drupal.org">Drupal</a></span>
        </div>
      </footer>
    </div>



 */


.l-hero{

}

.economic-splash{
  @extend %cf;
  // @include breakpoint($mobile) {@include grid-span(3);}
  // @include breakpoint($tablet) {@include grid-span(6);}
  // @include breakpoint($desktop){@include grid-span(12);}    
}





//default hide drupals admin-menu on smaller devices
#admin-menu{
  display:none;
  @include breakpoint($desktop) {display:block}
}
