/*
Layout
=========

Layout
=========
the basic design of the page

The grids settings are created in _config.scsss
*/


/*
Container
===========

    <div class="l-container">
    ...
    </div>
 */

.l-container{ }

.messages{
  @extend %l-width;
  @extend %cf;
}

/*
Header
--------------------------------------
templates:  
  
    <header role="banner">
        <a href="/" class="logo"><h2> sitename </h2></a>
    </header>
 */

header[role="banner"]{
  @extend %cf;

  .header{
    @extend %l-width;
  }
    .logo{ 
      @include breakpoint($small) { display:none }
      @include breakpoint($medium){ @include grid-span(2,1,8);}
      @include breakpoint($large) { @include grid-span(3,1,12); } 
    }
    nav.mainmenu{
      @include breakpoint($small) { display:none }
      @include breakpoint($medium){ @include grid-span(5,3,8); background:teal}
      @include breakpoint($large) { @include grid-span(6,4,12); } 
    }
    nav.usermenu,
    .createaccount{
      @include breakpoint($small) { display:none }
      @include breakpoint($medium){ @include grid-span(2,7,8); text-align:right}
      @include breakpoint($large) { @include grid-span(3,10,12); text-align:right} 
    }
}

/*
l-pagetop
---------------------------------------------
 */
.l-pagetop{
  margin:0 auto;
  @extend %cf;
  @extend %belt;
  @extend %belt-black2;

  @include breakpoint($medium_up) {
    margin-top:10rem;
  }

}

/*
Main
--------------------------------------------
    
    <main>
      <div> lorem ipsum ...</div>
    </main>
 */

main{
  margin:0 auto;
  @include breakpoint($small) {width: 100%}
  @include breakpoint($medium){width: 100%}
}  



/*
Page layouts
==============================


Frontpage
---------------------------
 */
.frontpage h1 {
  @include breakpoint($medium_up){
    font-size:8rem;  
  }
}
  .hero{
    @extend %l-width;
  }
  .faq{
    @extend %l-third;
    @extend %s-divider;
  }
  .signup{
    @extend %belt;
    @extend %belt-black;
    .lr{
      @extend %l-half;
    }
    .lc-1{
      @include grid-span(3,1);
    }
    .lc-2{
      @include grid-span(1,4);
      text-align:right;
    }
  }

  .examples{
    @extend %l-fourth;  
  }
  .benefits{
    @extend %belt;
    @extend %belt-blue;
    .lr{ 
      @extend %l-fourth; 
    }
  }

  .partnersignup{
    @extend %l-half;
    @extend %s-divider;

    div{
      h2,h3,h4{ color: $blue;}
    }
  }
  .economicteaser{
    @extend %l-width;
    @extend %s-divider;  
  }

/*
basic pages
------------------------------------------
move to grid ?

*/
.lr-1col{
  @extend %cf;
  @extend %l-width;

}

.lr-2col{
  @extend %cf;
  @extend %l-width;

  .l-top{ }

  @include breakpoint($medium) {
    .l-main    { @include grid-span(9,1, $grid:12);}
    .l-sidebar { @include grid-span(3, 10, $grid:12);}
    .l-bottom  { @include isolation-span(12, 1, 'both',$grid:12); background:red}    
  }
  @include breakpoint($large) {
    .l-main    { @include grid-span(9,1,12);}
    .l-sidebar { @include grid-span(3,10,12);}
    .l-bottom  { @include isolation-span(12, 1, 'both');  background:blue}
  }

}


.lr-3col{
  @extend %cf;
  @extend %l-width;

  @include breakpoint($medium) {
    .l-main{     @include float-span(12,'last'); }
    .l-sidebar { @include float-span(6, $grid:12);}
    .l-sidebar2{ @include float-span(6, 'last',$grid:12);}  
  }
  @include breakpoint($large) {
    .l-main{     @include grid-span(8,3,12);}
    .l-sidebar { @include grid-span(2,1,12);}
    .l-sidebar2{ @include grid-span(2,11,12);}  
  }
}



/*
Views lister
-----------------------------------------------------------------

 */
.view-display-id-panel_pane_2{
  @extend %lf-4;

}



/*
Footer
------------------------------

    <footer role="contentinfo">
      <div class="footer">
        <span>Powered by <a href="http://drupal.org">Drupal</a></span>
      </div>
    </footer>
*/

footer[role="contentinfo"]{
 margin-top:5rem;
}
  .footer{
    @extend %l-width;
    @extend %l-fourth;
  }  





/*
all together now:
------------------------


    <div class="l-container">
      <header role="banner">
      </header>
    
      <main>
        <h1> Main content
      </main>
    
      <footer role="contentinfo">
        <div>
          <span>Powered by <a href="http://drupal.org">Drupal</a></span>
        </div>
      </footer>
    </div>



 */





//-----------Small admin fixes -----------------------------------
//@todo remove this from layouts & lay in its own space
//default hide drupals admin-menu on smaller devices
#admin-menu{
  display:none;
  @include breakpoint($large) {display:block}
}
@include breakpoint($small){
  body.admin-menu{ margin-top: 0px !important; }
}
