/*
Breadcrumb
======================

Breadcrumb
======================
Drupals breadcrumbs

templates
---------------------------
template.php:
function themename_breadcrumb($variables) {
  ....
}

    <div class="breadcrumb">
      <a href="/">Home</a>  
      <a href="/design_test">Design test</a>
      <a href="/design_test/form">Form</a>
    </div>

    <nav class="breadcrumb" role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/design_test">Design test</a></li>
        <li><a href="/design_test/form">Form</a></li>
      </ul>
    </nav>

*/

.breadcrumb {
  li{
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li a{
    
    @include remfix(padding-right,1);
    @include remfix(padding-left,1);
    @include remfix(margin-right,0.5);
  }
  li a:first-child{ padding-left:0; }

}
