/*
Tabs
==============================
navigation tabs

    <nav class="tabs">
  
      <h2 class="element-invisible">Primary tabs</h2>
      <ul class="tabs primary">
        <li><a href="#">tabs can</a></li>
        <li class="active">
          <a href="#" class="active">be pretty awesome<span class="element-invisible">(active tab)</span></a>
        </li>
        <li><a href="#">and a pita</a></li>
      </ul>

      <h2 class="element-invisible">Secondary tabs</h2>
      <ul class="tabs secondary">
        <li><a href="#">Secondary tabs</a></li>
        <li><a href="#">is right here</a></li>
        <li class="active">
          <a href="#" class="active">baby<span class="element-invisible">(active tab)</span></a>
        </li>
      </ul>
    </nav>

 */
.tabs{
  ul{
    padding-bottom:1;;
  }
  li{display: inline-block;}
  a{ display:block; }
}

.primary{
   @include linkcolor(#666,#666,none);
   
    a{
      @include border-top-right-radius(6px);
      @include border-top-left-radius(6px);
      padding:1rem,1.5rem, 0.5rem, 1.5rem;
      border:1px solid #aaa;
      border-bottom: none;
    }
   a.active{background:#ddd;}
}

.tabs-secondary{
  @include linkcolor(#666,#666,none);
  ul{
    margin-top: 0.5rem;
  }
  a{ padding: 0.5rem;}
  a.active{ border-bottom: 2px solid #999;}
}



/*
Action links
--------------------------------

    <ul class="action-links">
      <li><a href="#">Mothership</a></li>
      <li><a href="#">Seven</a></li>
    </ul>

 */
.action-links{
  li{  @extend %nav-inline; }
}
