/*
Typography
===========================

Typography
===========================
Fonts & colors for text 

Fontimport
--------------------------------------------------------------------------------
This file defines our font stacks and sitespecific stacks
uses the fontsize mixin (in sass/_mixin.scss)

font import 
google example:
note we use "//"" cause something is retarded in browsers 
  .foo{
    @include fontsize($size:1.6, $line: $size * 1.5);  
  }
  
  @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
  @import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*
fontstacks
---------------------------
$foo: "foo", $sans-serif;  
Fontstack Placeholders
  .bar{
    @extend %foo;
  } 

generel fontstacks
---------------------
*/

$sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;  
$serif: "Droid Serif", Georgia, serif;  
$monospace  : "Monaco", "Courier New", monospace;  

$fontbody: "Open Sans", $sans-serif;  

%bodyfont{
  font-family: $fontbody;
  font-weight: 400;
}

%uppercase{
  text-transform: uppercase;
}

%normalcase{
  text-transform: none;
}

/*
basefont size & lineheight
----------------------
 */
$fontsize: 1.4rem;
$lineheight: 2.4rem;

/*
Body
-----------------------------
    <body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quae, eos incidunt nisi architecto molestiae consequuntur laborum veritatis necessitatibus nostrum provident a doloribus id. Itaque dignissimos architecto debitis vitae dicta.
    <body>
*/
body{
  @extend %bodyfont;
  color: $fontcolor;
  font-size: $fontsize;
}

/*
Headings
==========

    <h1>h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <h2>h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
    <h3>h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <h4>h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
    <h5>h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
    <h6>h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>

*/

/*
Headings with links
==========

    <h1><a href="foo">h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
    <h2><a href="foo">h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
    <h3><a href="foo">h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
    <h4><a href="foo">h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
    <h5><a href="foo">h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
    <h6><a href="foo">h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h6>

*/
h1,h2, h3, h4, h5, h6{
  @include linkcolor($titlecolor, $linkcolorhover);
  line-height:1;
  margin:0 0 2rem 0;
  color:$titlecolor;
  font-weight:200;
}
h1{
  font-size:4rem;  
}
h2{
  font-size:3.5rem;
}
h3{
  font-size:3rem;
}
h4 {
 font-size:2rem;
}
h5 {
 font-size:2rem;
}
h6 {
 font-size:2rem;
}



/*
H's in header
==========

    <header>
      <h1><a href="foo">h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
      <h2><a href="foo">h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
      <h3><a href="foo">h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
      <h4><a href="foo">h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
      <h5><a href="foo">h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
      <h6><a href="foo">h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h6>
    </header>

    <header role="bannerinfo">
      <h1><a href="foo">h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
      <h2><a href="foo">h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
      <h3><a href="foo">h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
      <h4><a href="foo">h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
      <h5><a href="foo">h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
      <h6><a href="foo">h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h6>
    </header>

*/
header{
  h1,h2,h3{ text-align:center}
}
header[role="bannerinfo"]{
  h1,h2,h3{}
}

/*
H's in footer
==========

    <footer role="contentinfo">
      <h1><a href="foo">h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
      <h2><a href="foo">h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
      <h3><a href="foo">h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
      <h4><a href="foo">h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
      <h5><a href="foo">h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
      <h6><a href="foo">h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h6>
    </footer>
*/
footer[role="contentinfo"]{
  h1,h2,h3{}
}



/*
content  & P
===================================

basic content 

    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a href="#">read more</a>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  
      </p>
    </div>  
 */
.content{ 
  
}

/*
links
-----------------------------------------
mixin: linkcolor($linkcolor, $linkcolorhover, underline);
     
    <a href="#">foo</a>
    
    <hr>

    <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a href="#">read more</a>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  
    </div>  

 */
@include linkcolor($linkcolor, $linkcolorhover, underline);

.content{
  @include linkcolor($linkcolor, $linkcolorhover, underline);
}
:focus{outline:0;}



/*
Paragraphs
------------------------------------
    
    <p>
    Lorem
    </p>

 */
p{
  color: $fontcolor;
}

/*

Font style: .lead
-------------------------------------

    <div class="lead">
      <h1>This is <strong>a bold</strong>test on a title</h1> 
      <p>Lorem---</p>
    </div>

*/

%lead,
.lead {
  h1{ text-align:center}
  p{  
    // width:60%;
    // margin:0 auto;
    margin-bottom: 2rem;
  }
}



/*
Selection colors
========================================

 */

// -- Selection colors
::-moz-selection { background: $selectioncolor-bg; color: $selectioncolor;}
::selection      { background: $selectioncolor-bg; color: $selectioncolor;}

// -- placeholder colors
:-moz-placeholder { color: #ccc;}
::-webkit-input-placeholder { color: #ccc;}

